html,
body,
#root {
  min-height: 100vh;
}

#canvas-container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      transparent 0,
      #e3e3e3 1px,
      transparent 0
    ),
    linear-gradient(to right, transparent 0, #e3e3e3 1px, transparent 0);

  background-size: 20px 20px;
}

.canvas-map {
  z-index: 10;
}

.MuiDrawerMap {
  .MuiBackdrop-root {
    opacity: 0 !important;
  }
  .MuiPaper-root {
    background: rgba(0, 0, 0, 0.8);
  }
}
